<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Travel Guide App</title>
    <meta name="description" content="An intelligent app that dynamically generates geographic and weather forecast information based on simple travel inputs." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="images/favicon.ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="../img/logo.png" alt="Travel Guide Logo" />
        </div>
    </header>
    <section class="form-input-outer-wrapper">
        <div class="form-input-inner-wrapper">
            <div class="basic-flexbox">
                <input type="date" id="depart-date-input" name="depart-date-input" required />
                <div class="icon-wrapper">
                    <i class="material-icons">arrow_right_alt</i>
                </div>
                <input type="date" id="return-date-input" name="return-date-input" required />
            </div>
            <input type="text" id="destination-input" placeholder="Enter destination (e.g., Madrid)" required />
            <textarea id="remarks-input" rows="2" placeholder="Remarks (optional)"></textarea>
            <input type="submit" name="generate-travel-info" value="Generate" class="generate-button" />
            <div class="process-message"></div>
        </div>
    </section>
    <section class="print-area">
        <div class="form-output-outer-wrapper">
            <div class="form-output-inner-wrapper">
                <div class="output-header">
                    <div class="destination-meta">
                        <i class="material-icons">place</i>
                        <div id="destination-name"></div>
                        <div id="country-name"></div>
                        <div class="more-info">
                            <div class="sub-item">
                                <i class="material-icons">code</i>
                                <div id="country-code"></div>
                            </div>
                            <div class="sub-item">
                                <i class="material-icons">access_time</i>
                                <div id="time-zone"></div>
                            </div>
                            <div class="sub-item">
                                <i class="material-icons">people_outline</i>
                                <div id="population"></div>
                            </div>
                            <div class="sub-item">
                                <i class="material-icons">my_location</i>
                                <div id="destination-description"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dates-wrapper">
                    <div class="trip-day"></div>
                    <div class="output-dates basic-flexbox">
                        <div class="date-wrapper depart-date">
                            <div class="heading">Departure</div>
                            <div id="depart-date" class="output-date"></div>
                        </div>
                        <div class="icon-wrapper">
                            <i class="material-icons">arrow_right_alt</i>
                        </div>
                        <div class="date-wrapper return-date">
                            <div class="heading">Return</div>
                            <div id="return-date" class="output-date"></div>
                        </div>
                    </div>
                </div>
                <div class="weather-wrapper"></div>
                <div class="remarks-wrapper">
                    <div class="remarks">
                        <i class="material-icons">edit</i>
                        <div id="remarks"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="buttons">
        <button class="close-button" onclick="return Client.closeButton()">
            <i class="material-icons">close</i>
        </button>
        <button class="print-button" onclick="return Client.printButton()">
            <i class="material-icons">print</i>
        </button>
    </section>
    <section id="trip-info"></section>
    <footer>
        <div class="footer-wrapper">
            <div class="footer-copyright">
                <p>&copy; 2021 <a href="http://localhost:2050/">Travel Guide App</a></p>
            </div>
            <div class="footer-credit">
                <p>
                    API by
                    <a href="https://www.geonames.org/" target="_blank">Geonames</a> •
                    <a href="https://www.openweathermap.org/" target="_blank">OpenWeatherMap</a> •
                    <a href="https://pixabay.com/" target="_blank">Pixabay</a>
                </p>
            </div>
            <div class="developer-info">
                <p>
                    App Developed by
                    <a href="https://www.susansiow.com" target="_blank">Susan Siow</a>
                </p>
            </div>
        </div>
    </footer>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>